@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root {
  --body-font: 'Josefin Sans', sans-serif;
  --dark-grayish-red: hsl(0, 6%, 24%);
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: var(--body-font);
}
.main-container {
  display: grid;
  grid-template-columns: 57.5% 1fr;
  min-height: 100vh;
}
.logo-area {
  height: 2.3rem;
  width: 100%;
}
.logo {
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: 33%;
  height: 2.3rem;
  width: 100%;
}
.info-section {
  background-size: cover;
  background: url('../images/bg-pattern-desktop.svg');
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  padding: 4rem 10.2rem;
  position: relative;
  background-color: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}
h1 {
  color: var(--dark-grayish-red);
  display: inline;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1.1rem;
  line-height: 4.2rem;
  text-transform: uppercase;
}
h1 span {
  color: var(--desaturated-red);
  font-weight: 300;
}
.info-section p {
  color: var(--desaturated-red);
  font-weight: 400;
  line-height: 1.8rem;
  padding-top: 1.2rem;
  position: relative;
  width: 85%;
}
.text-section {
  max-width: 100%;
}
.input-section {
  display: flex;
  flex-direction: row;
  height: 3rem;
  margin-top: 2.6rem;
  position: relative;
  width: 90%;
}
.input-field {
  border-color: var(--desaturated-red);
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 1.7rem;
  width: 100%;
}
.btn {
  align-items: center;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: 3.5rem;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 23%;
}
.arrow-img {
  background-image: url('../images/icon-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 2rem;
  margin: 0 auto;
  width: 2rem;
}
.error-msg {
  color: var(--soft-red);
  display: none;
  font-size: 0.8rem;
  left: 5%;
  position: absolute;
  top: 130%;
}
.error {
  display: none;
  height: 3.5rem;
  position: absolute;
  right: 25%;
  width: 3.5rem;
}
.error-icon {
  background-image: url('../images/icon-error.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 3.5rem;
  width: 3.5rem;
}
.img-section {
  background-image: url('../images/hero-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
@media (hover: hover) {
  .btn:hover {
    -webkit-box-shadow: -1px 16px 17px -6px rgba(0, 0, 0, 0.51);
    background-color: hsl(0, 80%, 86%);
    background: transparent;
    box-shadow: -1px 16px 17px -6px rgba(0, 0, 0, 0.51);
    height: 3.7rem;
    width: 24%;
  }
}
@media screen and (max-width: 1025px) {
  .main-container {
    grid-template-columns: 50% 1fr;
  }
}
@media screen and (max-width: 801px) {
  .info-section {
    display: initial;
  }
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 15% 50% 1fr;

    grid-template-areas:
      'icon'
      'hero'
      'info';
  }
  .img-section {
    grid-area: hero;
  }
  .logo-area {
    grid-area: icon;
    left: 5%;
    position: absolute;
    top: 5%;
    width: 70%;
  }
  .logo {
    height: 4rem;
  }
  .info-section {
    grid-area: info;
    padding: 5rem 2rem;
    position: initial;
  }
  h1 {
    font-size: 2.5rem;
  }
}
