@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
  --Green: hsl(154, 59%, 51%);
  --Red: hsl(0, 100%, 74%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Red);
  background-image: url('./images/bg-intro-desktop.png');
}
.split-up {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.left-column {
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-top: 13%;
  padding: 20px 12px;
}
.btn1 {
  background-color: var(--Green);
  color: white;
  height: 50px;
  margin-top: 20px;
  width: 100%;
}
h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  text-align: justify;
}
p {
  color: white;
  float: left;
  line-height: 20px;
  text-align: justify;
}
h5 {
  color: var(--GrayishBlue);
  margin-top: 10px;
  text-align: justify;
}
h5 span {
  color: red;
}
.right-column {
  margin-right: 10%;
  padding: 20px;
}
.right-column .top-card {
  background-color: var(--Blue);
  border-radius: 15px;
  box-shadow: 0 4px hsla(249, 10%, 26%, 0.404);
  color: white;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
}
.right-column .top-card p {
  color: var(--Grayish-Blue);
  font-size: 1rem;
  line-height: 2rem;
  padding: 2px 2px 5px 35px;
}
.right-column .top-card p span {
  color: var(--GrayishBlue);
}
.right-column .form-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px hsla(249, 10%, 26%, 0.4);
  padding: 40px;
  width: 380px;
}
.input-group {
  margin-bottom: 25px;
  position: relative;
}
.right-column label {
  display: block;
}
.right-column input,
.right-column button {
  border-radius: 10px;
  border: 1px solid hsl(246, 25%, 77%);
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  margin-bottom: 5px;
  outline: none;
  padding-left: 20px;
  width: 100%;
}
.right-column input:focus {
  border: 1.5px solid var(--Blue);
}
.right-column input::placeholder {
  color: var(--Dark-Blue);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  height: 60px;
}
.right-column button {
  background-color: var(--Green);
  border: none;
  box-shadow: 0px 4px var(--Green);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.right-column button:hover {
  background-color: var(--Green);
}
.right-column .form-footer {
  color: hsl(246, 25%, 77%);
  font-size: 10px;
  margin-top: 20px;
}
.right-column .form-footer span {
  color: var(--Red);
  font-weight: 700;
}
.error-text {
  bottom: 0;
  color: var(--Red);
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  right: 0;
  text-align: right;
}
.error-icon {
  position: absolute;
  right: 20px;
  top: 0;
  top: 28%;
}
.error-text,
.error-icon {
  display: none;
}
.input-group.error .error-text,
.input-group.error .error-icon {
  display: block;
}
.input-group.error input {
  border: 2px solid var(--Red);
}
@media (max-width: 675px) and (min-width: 375px) {
  .split-up {
    flex-direction: column;
  }
  .right-column {
    margin-left: 30px;
  }
  .right-column .top-card p span {
    color: var(--GrayishBlue);
  }
}
