*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
}

:root{
    --cyan-primary: hsl(179, 62%, 43%);
    --yellow-primary: hsl(71, 73%, 54%);
    --gray-neutral: hsl(204, 43%, 93%);
    --gray-blue:hsl(218, 22%, 67%);
}

body{
    background-color: var(--gray-neutral);
    padding: 1em;
}

main{
    max-width: 650px;
    border-radius: 10px;
    overflow: hidden;
}

main > div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    padding: 3em;
    box-sizing: border-box;
    min-width: 250px;
}

.request{
    background-color: white;
}

.request > h1{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: var(--cyan-primary);
}

.request > h3{
    color: var(--yellow-primary);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}

.request > p{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--gray-blue);
    margin-top: 1em;
}

.subscription,
.aboutreason{
    flex: 1 1 50%;
    color: white;
}

.subscription{
    background-color: hsl(179, 62%, 43%);
}

.subscription *, .aboutreason *{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.subscription >h3 ~ p{
    margin-top: 1em;
}



.aboutreason{
    background-color: hsla(179, 62%, 43%, 0.9);
}

.aboutreason > p{
    margin-top: 1em;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.5em;
}

.currency{
    color: var(--gray-neutral);
}
.currency > span{
    font-size: 2em;
    vertical-align: middle;
    margin-right: 0.4em;
    font-weight: 700;
    color: white;
}

.currency + p{
    font-size: 15px;
}

button{
    width: 100%;
    height: 4em;
    border-radius: 5px;
    border-style: none;
    background-color: var(--yellow-primary);
    color: white;
    box-shadow:  1rem 1rem 2rem hsl(179deg 62% 28% / 50%);
    margin-top: 2em;
}

footer{
    margin-top: 4em;
    font-size: 14px;
    text-align: center;
}