:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}
* {
  box-sizing: border-box;
}
html {
  color: var(--dark-blue);
  font-family: 'Inter', sans-serif;
  font: 16px;
}
p {
  font-size: 1.12rem;
  font-weight: 300;
  line-height: 24px;
}
.container {
  align-items: center;
  background-size: contain;
  background: url(../images/pattern-curve.svg) no-repeat bottom;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
}
.slider-contents {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  width: 80%;
}
.slide {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.slide-image {
  background-size: cover;
  background: url(../images/pattern-bg.svg) no-repeat bottom right;
  height: 100%;
  margin-bottom: 2rem;
  margin: 0 auto;
  padding: 1.8rem 2rem;
}
.slide-image img {
  height: 100%;
  width: 250px;
}
.slide-text {
  background-size: 5rem;
  background: url(../images/pattern-quotes.svg) no-repeat top center;
  padding: 1.5rem 0;
  z-index: 1;
}
.slide-text .text {
  margin-bottom: 1.2rem;
}
.author {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
}
.author span {
  color: var(--grayish-blue);
  display: block;
  font-weight: 500;
}
button {
  border: none;
}
.slider-buttons {
  background-color: white;
  border-radius: 25px;
  box-shadow: -15px 10px 30px 1px rgba(133, 133, 172, 0.75);
  height: 40px;
  left: 50%;
  position: absolute;
  top: 260px;
  width: 80px;
}
.prev,
.next {
  background-size: 10px;
  background: url(../images/icon-prev.svg) no-repeat center center;
  height: 100%;
  position: absolute;
  width: 50%;
}
.prev:hover,
.next:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--dark-blue);
  cursor: pointer;
}
.next {
  background-size: 10px;
  background: url(../images/icon-next.svg) no-repeat center center;
  left: 50%;
}
.John-slide {
  display: none;
}
.show {
  display: block;
}
@media only screen and (min-width: 1150px) {
  .slider-contents {
    height: 70%;
    max-width: 85%;
  }
  .slide {
    flex-direction: row;
    text-align: left;
  }
  .slide-image {
    margin-left: -2rem;
    padding: 3rem 4rem 3rem 2rem;
  }
  .slide-image img {
    width: 540px;
  }
  .slide-text {
    background-position-x: 25%;
    background-size: 6rem;
    padding-top: 3rem;
  }
  p {
    font-size: 2rem;
    line-height: 44px;
  }
  .author {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .author span {
    display: inline;
    margin-left: 0.5rem;
  }
  .slider-buttons {
    border-radius: 35px;
    height: 56px;
    left: 60%;
    top: 560px;
    width: 112px;
  }
}
