:root {
  --Soft-Magenta: hsl(300, 69%, 71%);
  --Violet: hsl(257, 40%, 49%);
  --main-transition: 0.3s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
main {
  background-color: var(--Violet);
  min-height: 100vh;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (min-width: 992px) {
  main {
    background-image: url('../images/bg-desktop.svg');
  }
}
@media (max-width: 991px) {
  main {
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
  }
}
header {
  margin-bottom: 60px;
}
.logo {
  max-width: 100%;
}
.info {
  display: flex;
  gap: 50px;
}
@media (max-width: 991px) {
  .info {
    flex-direction: column;
  }
}
.main-image {
  max-width: 100%;
}
.text-icon {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: space-between;
  transform: translateY(40px);
}
@media (max-width: 991px) {
  .text-icon {
    text-align: center;
    transform: translateY(0);
  }
}
.text > h2 {
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}
.text > p {
  color: white;
  line-height: 1.6;
}
.text > a {
  background-color: white;
  border-radius: 60px;
  box-shadow: 0 12px 24px rgb(0 0 0 / 10%);
  color: var(--Violet);
  display: block;
  margin-top: 20px;
  padding: 15px 60px;
  text-decoration: none;
  transition: var(--main-transition);
  width: fit-content;
}
.text > a:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}
@media (max-width: 991px) {
  .text > a {
    margin-left: auto;
    margin-right: auto;
  }
}
.icons {
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin-left: auto;
}
@media (max-width: 991px) {
  .icons {
    margin-right: auto;
  }
}
.icons > li a {
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  transition: var(--main-transition);
  width: 40px;
}
.icons > li:hover a {
  border-color: var(--Soft-Magenta);
  color: var(--Soft-Magenta);
}
