:root {
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Strong-Cyan: hsl(171, 66%, 44%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.header {
  background-image: url('../images/bg-header-desktop.png');
  color: var(--Dark-Grayish-Blue);
  margin-left: 50px;
  text-align: center;
}
.main {
  color: var(--Dark-Grayish-Blue);
  margin-left: 50px;
  margin-top: 45px;
  text-align: center;
}
.main,
h1 {
  font-size: 20px;
  font-weight: bolder;
}
.content {
  color: var(--Grayish-Blue);
  justify-content: space-evenly;
  margin-left: 60px;
  margin-top: 20px;
  text-align: center;
}
.btn-ios {
  background-color: var(--Strong-Cyan);
  border-radius: 25px;
  border: 30px;
  color: white;
  height: 35px;
  margin-bottom: 40px;
  margin-left: 36%;
  margin-top: 20px;
  text-align: center;
  width: 10%;
}
.btn-mac {
  background-color: var(--Light-Blue);
  border-radius: 25px;
  border: 30px;
  color: white;
  height: 35px;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  width: 10%;
}
.body-image {
  float: left;
  margin-right: 90px;
  margin-top: 50px;
}
.image-content {
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 80px;
}
.rightcontent {
  color: var(--Grayish-Blue);
  justify-content: space-evenly;
  margin-left: 75%;
}
h2 {
  color: var(--Dark-Grayish-Blue);
  margin-left: 75%;
}
.deviceimage,
img {
  margin-top: 30px;
  text-align: center;
}
#align {
  margin-top: 20%;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}
.col {
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  flex-basis: 31%;
  margin-bottom: 5%;
  padding: 20px 12px;
}
.col,
img {
  align-items: center;
}
.col,
h1 {
  color: var(--Dark-Grayish-Blue);
  font-size: medium;
  margin-top: 10px;
  text-align: center;
}
.col,
p {
  color: var(--Grayish-Blue);
  text-align: justify;
}
footer {
  align-items: center;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.footlogo {
  align-items: center;
  height: 30px;
  margin-bottom: 25%;
  margin-left: 41%;
  width: 8px;
}
footer p {
  text-align: center;
}
.foot ul {
  list-style: none;
  max-width: 420px;
}
ul li {
  display: inline-block;
  margin: 5px 20px;
}
a {
  color: var(--Grayish-Blue);
}
@media (max-width: 785px) {
  .body-image {
    float: center;
  }
  .header {
    background-image: url('../images/bg-header-desktop.png');
    background-position: cover;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
