@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* font-family: 'Fraunces', serif; */

:root {
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --desaturatedcyan: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --desaturatedblue: hsl(212, 27%, 19%);
  --grayishblue1: hsl(213, 9%, 39%);
  --grayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: url('../images/image-header.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav-bar {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 50px;
}
#contact {
  background: var(--Yellow);
  border-radius: 50px;
  color: var(--desaturatedblue);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
}
#contact:hover {
  background: #6eebff;
  color: var(--White);
}
.nav-menu .menu-btn {
  color: var(--White);
  display: none;
  font-size: 22px;
  opacity: 0;
  pointer-events: none;
}

.nav-menu .menu ul {
  display: flex;
}
.menu li {
  list-style: none;
  margin: 0 15px;
}
.menu li a {
  color: var(--White);
  text-decoration: none;
}

.header-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.header-text h1 {
  color: var(--White);
  font-size: 40px;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
}
.header-text svg {
  margin-top: 150px;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-1 {
  display: flex;
  height: 600px;
  width: 100%;
}
.content-1 .content-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 100px;
  width: 50%;
}
.content-1 .content-text h1 {
  color: var(--desaturatedblue);
  font-family: 'Fraunces', serif;
  font-size: 40px;
  margin-bottom: 2rem;
}
.content-1 .content-text p {
  color: var(--grayishblue);
  font-size: 18px;
  margin-bottom: 2rem;
}
.content-1 .content-text a {
  color: var(--desaturatedblue);
  display: inline-block;
  font-family: 'Fraunces', serif;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  width: 120px;
}
.content-text a::before {
  background: var(--Yellow);
  border-radius: 5px;
  bottom: -5px;
  content: '';
  height: 5px;
  left: -3px;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: all 0.3s ease;
  width: 120px;
}
.content-text a:hover::before {
  bottom: 0;
  opacity: 0.6;
  pointer-events: auto;
  z-index: -1;
}
.content-1 .content-img {
  background: url('../images/image-transform.jpg') no-repeat center center;
  width: 50%;
}

.content-2 {
  display: flex;
  flex-direction: row-reverse;
  height: 600px;
  width: 100%;
}
.content-2 .content-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 100px;
  width: 50%;
}
.content-2 .content-text h1 {
  color: var(--desaturatedblue);
  font-family: 'Fraunces', serif;
  font-size: 40px;
  margin-bottom: 2rem;
}
.content-2 .content-text p {
  color: var(--grayishblue);
  font-size: 18px;
  margin-bottom: 2rem;
}
.content-2 .content-text a {
  color: var(--desaturatedblue);
  display: inline-block;
  font-family: 'Fraunces', serif;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  width: 120px;
}
.content-text a::before {
  background: var(--Softred);
  border-radius: 5px;
  bottom: -5px;
  content: '';
  height: 5px;
  left: -3px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all 0.3s ease;
  width: 120px;
}
.content-text a:hover::before {
  bottom: 0;
  opacity: 0.6;
  pointer-events: auto;
  z-index: -1;
}
.content-2 .content-img {
  background: url(../images/image-stand-out.jpg) no-repeat center center;
  width: 50%;
}

.content-3 {
  display: flex;
  width: 100%;
  height: 600px;
}
.content-3 .content-3-l {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  width: 50%;
  background: url(../images/image-graphic-design.jpg) no-repeat center center;
  background-size: cover;
}
.content-3-l .content-text-bg {
  margin-bottom: 5rem;
  width: 350px;
}
.content-3-l .content-text-bg h1 {
  color: var(--desaturatedcyan);
  font-family: 'Fraunces', serif;
  margin-bottom: 2rem;
}
.content-3-l .content-text-bg p {
  color: var(--desaturatedcyan);
}

.content-3 .content-3-r {
  align-items: flex-end;
  background: url(../images/image-photography.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
}
.content-3-r .content-text-bg {
  margin-bottom: 5rem;
  width: 350px;
}
.content-3-r .content-text-bg h1 {
  color: var(--Darkblue);
  font-family: 'Fraunces', serif;
  margin-bottom: 2rem;
}
.content-3-r .content-text-bg p {
  color: var(--Darkblue);
}

.client {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 100px 0;
  width: 100%;
}
.client h1 {
  color: var(--grayishblue);
  font-family: 'Fraunces', serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.client .client-profile-area {
  display: flex;
  height: 500px;
  justify-content: space-between;
  margin-top: 3rem;
  width: 80%;
}
.client-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
}
.client-profile .client-img {
  height: 100px;
  width: 100px;
}
.client-img img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.client-profile .client-info {
  margin-top: 3rem;
}
.client-info p {
  color: var(--grayishblue1);
}
.client-name {
  margin-top: 5rem;
}
.client-name h3 {
  color: var(--desaturatedblue);
  font-family: 'Fraunces', serif;
  margin-bottom: 1rem;
}
.client-name span {
  color: var(--grayishblue);
  font-size: 12px;
}

.gallery {
  width: 100%;
}
.grid-area {
  display: grid;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.grid-area .grid-item {
  height: 400px;
}
.grid-area .bg1 {
  background: url(../images/image-gallery-milkbottles.jpg) no-repeat center
    center;
  background-size: cover;
}
.grid-area .bg2 {
  background: url(../images/image-gallery-orange.jpg) no-repeat center center;
  background-size: cover;
}
.grid-area .bg3 {
  background: url(../images/image-gallery-cone.jpg) no-repeat center center;
  background-size: cover;
}
.grid-area .bg4 {
  background: url(../images/image-gallery-sugarcubes.jpg) no-repeat center
    center;
  background-size: cover;
}

.footer-area {
  background: var(--footer);
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
}
.ft-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.ft-content .ft-menu {
  display: flex;
  margin-top: 2rem;
}
.ft-menu li {
  list-style: none;
  margin: 0 10px;
}
.ft-menu li a {
  color: var(--desaturatedcyan);
  font-size: 12px;
  text-decoration: none;
}
.ft-menu li a:hover {
  color: var(--White);
}
.ft-content .ft-contact {
  display: flex;
  margin-top: 3rem;
}
.ft-contact li {
  list-style: none;
  margin: 0 10px;
  text-align: center;
}
.ft-contact li i {
  font-size: 12px;
  color: var(--desaturatedcyan);
}
.ft-contact li i:hover {
  color: var(--White);
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
  header {
    background: url(../images/mobile/image-header.jpg) no-repeat center center;
    background-size: cover;
    height: 550px;
    width: 100%;
  }
  .nav-bar {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 0;
  }

  .nav-menu .menu-btn {
    cursor: pointer;
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
  .nav-menu .menu {
    align-items: center;
    background: var(--White);
    bottom: -310px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    left: 50%;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transform: translateX(-50%);
    transition: all 0.4s ease;
    text-align: center;
    width: 320px;
  }
  .nav-menu .menu::before {
    background: var(--White);
    content: '';
    height: 20px;
    right: 4px;
    position: absolute;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
  }
  .menu-btn.active ~ .menu {
    bottom: -370%;
    opacity: 1;
    pointer-events: auto;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
  }
  .menu li {
    margin: 20px 0;
  }
  .menu li a {
    color: var(--Grayishblue);
    font-size: 22px;
  }
  #contact {
    padding: 10px 20px;
    color: var(--desaturatedblue);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--Yellow);
    border-radius: 50px;
  }
  .header-text {
    text-align: center;
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .content-1 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .content-1 .content-text {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 30px;
  }
  .content-1 .content-text h1 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .content-1 .content-text p {
    color: var(--grayishblue);
    font-size: 17px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
  .content-1 .content-text a {
    position: relative;
    display: inline-block;
    width: 100%;
    color: var(--desaturatedblue);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-decoration: none;
  }
  .content-text a::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background: var(--Yellow);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
  }
  .content-text a:hover::before {
    opacity: 0.6;
    pointer-events: auto;
    z-index: -1;
    bottom: 0;
  }
  .content-1 .content-img {
    width: 100%;
    height: 100%;
    background: url(../images/image-transform.jpg) no-repeat center center;
    background-size: cover;
  }

  .content-2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .content-2 .content-text {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 30px;
  }
  .content-2 .content-text h1 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .content-2 .content-text p {
    color: var(--grayishblue);
    font-size: 17px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
  .content-2 .content-text a {
    position: relative;
    display: inline-block;
    width: 100%;
    color: var(--desaturatedblue);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-decoration: none;
  }
  .content-2 .content-text a::before {
    border-radius: 5px;
    background: var(--Softred);
    bottom: -5px;
    content: '';
    height: 5px;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all 0.3s ease;
    width: 120px;
  }
  .content-text a:hover::before {
    opacity: 0.6;
    z-index: -1;
    bottom: 0;
  }
  .content-2 .content-img {
    width: 100%;
    height: 100%;
    background: url(../images/image-stand-out.jpg) no-repeat center center;
    background-size: cover;
  }

  .content-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .content-3 .content-3-l {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    height: 600px;
    background: url(../images/image-graphic-design.jpg) no-repeat center center;
    background-size: cover;
  }
  .content-3-l .content-text-bg {
    width: 100%;
    padding: 0 20px;
  }

  .content-3 .content-3-r {
    width: 100%;
    height: 600px;
    background: url(../images/image-photography.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }
  .content-3-r .content-text-bg {
    padding: 0 20px;
    width: 100%;
  }

  .client {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 50px 20px;
    width: 100%;
  }
  .client h1 {
    font-size: 14px;
  }
  .client .client-profile-area {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
  }
  .client-profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0 30px 0;
    padding: 0 10px;
    text-align: center;
  }
  .client-profile .client-img {
    height: 80px;
    width: 80px;
  }
  .client-img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  .client-profile .client-info {
    margin-top: 2rem;
  }
  .client-info p {
    line-height: 1.3rem;
  }
  .client-name {
    margin-top: 2rem;
  }
  .client-name h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .client-name span {
    font-size: 12px;
  }

  .grid-area {
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .grid-area .grid-item {
    height: 200px;
  }
  .grid-area .bg1 {
    background: url(./images/image-gallery-milkbottles.jpg) no-repeat center
      center;
    background-size: cover;
  }
  .grid-area .bg2 {
    background: url(./images/image-gallery-orange.jpg) no-repeat center center;
    background-size: cover;
  }
  .grid-area .bg3 {
    background: url(./images/image-gallery-cone.jpg) no-repeat center center;
    background-size: cover;
  }
  .grid-area .bg4 {
    background: url(./images/image-gallery-sugar-cubes.jpg) no-repeat center
      center;
    background-size: cover;
  }

  .ft-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .ft-content .ft-menu {
    display: flex;
    margin-top: 2rem;
  }
  .ft-menu li {
    list-style: none;
    margin: 0 20px;
  }

  .ft-content .ft-contact {
    margin-top: 3rem;
  }
  .ft-contact li {
    list-style: none;
    margin: 0 10px;
    text-align: center;
  }
  .ft-contact li i {
    color: var(--desaturatedcyan);
    font-size: 14px;
  }
}
